 #circularG {
     position: relative;
     display: inline-block;
     width: 12px;
     height: 12px;
     margin: auto;
 }

 .circularG {
     position: absolute;
     background-color: rgba(149, 116, 242, 0.98);
     width: 3px;
     height: 3px;
     border-radius: 2px;
     -o-border-radius: 2px;
     -ms-border-radius: 2px;
     -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
     animation-name: bounce_circularG;
     -o-animation-name: bounce_circularG;
     -ms-animation-name: bounce_circularG;
     -webkit-animation-name: bounce_circularG;
     -moz-animation-name: bounce_circularG;
     animation-duration: 0.338s;
     -o-animation-duration: 0.338s;
     -ms-animation-duration: 0.338s;
     -webkit-animation-duration: 0.338s;
     -moz-animation-duration: 0.338s;
     animation-iteration-count: infinite;
     -o-animation-iteration-count: infinite;
     -ms-animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
     animation-direction: normal;
     -o-animation-direction: normal;
     -ms-animation-direction: normal;
     -webkit-animation-direction: normal;
     -moz-animation-direction: normal;
 }

 #circularG_1 {
     left: 0;
     top: 5px;
     animation-delay: 0.128s;
     -o-animation-delay: 0.128s;
     -ms-animation-delay: 0.128s;
     -webkit-animation-delay: 0.128s;
     -moz-animation-delay: 0.128s;
 }

 #circularG_2 {
     left: 1px;
     top: 1px;
     animation-delay: 0.164s;
     -o-animation-delay: 0.164s;
     -ms-animation-delay: 0.164s;
     -webkit-animation-delay: 0.164s;
     -moz-animation-delay: 0.164s;
 }

 #circularG_3 {
     top: 0;
     left: 5px;
     animation-delay: 0.21s;
     -o-animation-delay: 0.21s;
     -ms-animation-delay: 0.21s;
     -webkit-animation-delay: 0.21s;
     -moz-animation-delay: 0.21s;
 }

 #circularG_4 {
     right: 1px;
     top: 1px;
     animation-delay: 0.256s;
     -o-animation-delay: 0.256s;
     -ms-animation-delay: 0.256s;
     -webkit-animation-delay: 0.256s;
     -moz-animation-delay: 0.256s;
 }

 #circularG_5 {
     right: 0;
     top: 5px;
     animation-delay: 0.292s;
     -o-animation-delay: 0.292s;
     -ms-animation-delay: 0.292s;
     -webkit-animation-delay: 0.292s;
     -moz-animation-delay: 0.292s;
 }

 #circularG_6 {
     right: 1px;
     bottom: 1px;
     animation-delay: 0.338s;
     -o-animation-delay: 0.338s;
     -ms-animation-delay: 0.338s;
     -webkit-animation-delay: 0.338s;
     -moz-animation-delay: 0.338s;
 }

 #circularG_7 {
     left: 5px;
     bottom: 0;
     animation-delay: 0.374s;
     -o-animation-delay: 0.374s;
     -ms-animation-delay: 0.374s;
     -webkit-animation-delay: 0.374s;
     -moz-animation-delay: 0.374s;
 }

 #circularG_8 {
     left: 1px;
     bottom: 1px;
     animation-delay: 0.42s;
     -o-animation-delay: 0.42s;
     -ms-animation-delay: 0.42s;
     -webkit-animation-delay: 0.42s;
     -moz-animation-delay: 0.42s;
 }

 @keyframes bounce_circularG {
     0% {
         transform: scale(1);
     }
     100% {
         transform: scale(.3);
     }
 }

 @-o-keyframes bounce_circularG {
     0% {
         -o-transform: scale(1);
     }
     100% {
         -o-transform: scale(.3);
     }
 }

 @-ms-keyframes bounce_circularG {
     0% {
         -ms-transform: scale(1);
     }
     100% {
         -ms-transform: scale(.3);
     }
 }

 @-webkit-keyframes bounce_circularG {
     0% {
         -webkit-transform: scale(1);
     }
     100% {
         -webkit-transform: scale(.3);
     }
 }

 @-moz-keyframes bounce_circularG {
     0% {
         -moz-transform: scale(1);
     }
     100% {
         -moz-transform: scale(.3);
     }
 }