<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<sessionState timeout="1" />
	</system.web>
    <system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
				<!-- HTTP 1.1. -->
				<add name="Pragma" value="no-cache" />
				<!-- HTTP 1.0. -->
				<add name="Expires" value="0" />
				<!-- Proxies. -->
			</customHeaders>
		</httpProtocol>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
		
		 <staticContent>
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
    </system.webServer>
</configuration>
