<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<sessionState timeout="1" />
	</system.web>
    <system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="0" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />

				<!-- to set the X-Content-Type-Options header to 'nosniff' for all web pages -->
				<remove name="X-Content-Type-Options"/>
				<add name="X-Content-Type-Options" value="nosniff"/>
			</customHeaders>
		</httpProtocol>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
		
		 <staticContent>
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
		</staticContent>
    </system.webServer>
</configuration>
